h1 {
    background-color: rgb(215, 203, 185);text-align: center;
    }
    h2{
        color:rgb(221, 155, 131);text-align: center;
    }
    body {
    
        background-color: rgb(220, 216, 210);text-align: center;
        margin:0%
    
    }
    p {
        font-size: 20px;
    }